.frame {
    width: 800px;
    min-height: 400px;
    background: #3E4354;
    margin: 100px auto;
}

.left {
    position: absolute;
    float: left;
    width: 400px;
    height: 400px;
    padding: 0;
    background-image: url(./img/fon_left.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* opacity: 0.65; */
}

.fonLeft {
    height: 100%;
    padding: 0.1px;
    background:rgba(0, 0, 0, 0.42)
}

.right {
    float: right;
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.42)
}
